section {
    padding: 20px 0;
    .section {
        &__title {
            display: flex;
            flex-direction: row;
            vertical-align: middle;
            margin-bottom: 25px;
            align-items: center;
            h2 {
                flex: 1;
            }
        }
        &__button {
            width: 150px;
            text-align: right;
        }
    }
}